<footer class="text-center text-lg-start" style="background-color: rgb(255, 94, 0); height: 100px;">
    <div class="container-fluid">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/rgpd" class="nav-link px-2 text-body-secondary">Politique deconfidentialité</a></li>
            <a href="/rgpd">
                <img src="../assets/rgpd.png" style="height: 20px; margin-top: 10px ;">
            </a>
        </ul>
    </div>
</footer>