<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Panier</h1>
</head>

<body>
    <div class="container">
        <h1>Panier</h1>
        <div *ngFor="let ligne of ligne">
            <div>{{ ligne.box.nom }}</div>
            <div>
                <button class="btn btn-primary" (click)="enlever(ligne.box,1)" style="margin: 10px;">-</button>
                x {{ligne.quantite }}
                <button class="btn btn-primary" (click)="ajouter(ligne.box,1)" style="margin: 10px;">+</button>
            </div>
            <div>Prix : {{ prixLigne(ligne)}}€</div>
        </div>
        <h1>Total : </h1>
        <div> {{ prixTotla() }}€</div>
        <a class="btn btn-primary" href="validation" role="button"> Valider</a>
    </div>
</body>
        

</html>